[Unit]
Description=Camera control service for Skycam
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python /home/pi/share/meteopi/skyCam.py -t 300 -s -c /home/pi/share/meteopi/meteopi.cfg

[Install]
WantedBy=multi-user.target

